# Node modules and dependencies
node_modules
npm-debug.log

# Environment variables
.env
.env.*
!.env.sample

# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Testing and coverage
coverage
.nyc_output

# IDE files
.idea
.vscode
*.sublime-*

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db